
div.a {
    background-color: black;
    color: white;
    text-align: right;
    font-size: small;
    color: gold "|";
}

div.b {
    background-color: gold;
    text-align: left;
 }
 .capit{
    text-transform: uppercase;
 }

 .cal{
    font-size:xx-large;
    font-weight: bold;
}

.title{
    font-weight: bold;
}

p{
    text-indent: 20px;
}

.bottom{
    background-color: black;
    color: white;
    text-align: center;
    font-size: smaller;
}
